body {
    background-image: url(Assets/spooky-ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    text-align: right;
    color: goldenrod
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    text-align: right;
    color: goldenrod
}

form {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: larger;
        text-align: left;
        color: goldenrod
}